### **PROBLEM STATEMENT**

To predict the apt price of a car based on the specifications given. Hence a
***supervised ML regression model*** needs to be created as the target variable is continuous in nature.

### **IMPORTING THE BASIC LIBRARIES**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### **IMPORTING THE DATASET**

In [3]:
data= pd.read_csv("/content/drive/MyDrive/AI/Basic_python_implementation_neural_network/CarPricesData.csv")
data

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986,Diesel,90,1,0,2000.0,3,1165.0
1,13750,23.0,72937,Diesel,90,1,0,2000.0,3,1165.0
2,13950,24.0,41711,Diesel,90,1,0,2000.0,3,1165.0
3,14950,26.0,48000,Diesel,90,0,0,2000.0,3,1165.0
4,13750,30.0,38500,Diesel,90,0,0,2000.0,3,1170.0
...,...,...,...,...,...,...,...,...,...,...
1431,7500,69.0,20544,Petrol,86,1,0,1300.0,3,1025.0
1432,10845,72.0,19000,Petrol,86,0,0,1300.0,3,1015.0
1433,8500,71.0,17016,Petrol,86,0,0,1300.0,3,1015.0
1434,7250,70.0,16916,Petrol,86,1,0,1300.0,3,1015.0
1435,6950,76.0,1,Petrol,110,0,0,1600.0,5,1114.0

### **DOMAIN ANALYSIS**

- The dataset contains the features related to factors that decide the price of a car.

The target variable is

***1. Price:***  
- The Price of the car in dollars,

and the remaining nine independent features include:

***2. Age:***
  - The age of the car in months

***3. KM***
  - How many KMS did the car was used

***4. FuelType:***
  - Petrol/Diesel/CNG car

***5. HP:***
  - Horse power of the car

***6. MetColor:***
  - Whether car has metallic color or not

***7. Automatic:***
  - Whether car has automatic transmission or not

***8. CC:***
  - The engine size of the car

***9. Doors:***
  - The number of doors in the car

***10. Weight:***
  - The weight of the car

### **BASIC CHECKS:**

In [4]:
# checking the no of rows and columns

data.shape

(1436, 10)

In [5]:
# checking the last five rows

data.tail()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431,7500,69.0,20544,Petrol,86,1,0,1300.0,3,1025.0
1432,10845,72.0,19000,Petrol,86,0,0,1300.0,3,1015.0
1433,8500,71.0,17016,Petrol,86,0,0,1300.0,3,1015.0
1434,7250,70.0,16916,Petrol,86,1,0,1300.0,3,1015.0
1435,6950,76.0,1,Petrol,110,0,0,1600.0,5,1114.0

In [7]:
# checking the datatypes

data.dtypes

Price          int64
Age          float64
KM             int64
FuelType      object
HP             int64
MetColor       int64
Automatic      int64
CC           float64
Doors          int64
Weight       float64
dtype: object

##### Insights:
- all are numerical columns with int64 and float64 datatypes except the FuelType column.

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1434 non-null   float64
 2   KM         1436 non-null   int64
 3   FuelType   1432 non-null   object
 4   HP         1436 non-null   int64
 5   MetColor   1436 non-null   int64
 6   Automatic  1436 non-null   int64
 7   CC         1434 non-null   float64
 8   Doors      1436 non-null   int64
 9   Weight     1434 non-null   float64
dtypes: float64(3), int64(6), object(1)
memory usage: 112.3+ KB

##### Insights:
- There are certain features with null values such as Age, FuelType, CC and Weight.

In [34]:
data.describe().T.sort_values('std', ascending = False).style.background_gradient(cmap= "Set3_r")

In [15]:
data.describe(include= 'object').T

         count unique     top  freq
FuelType  1432      3  Petrol  1260

##### Insights:

1. **KM (Kilometers)**:
   - The ***average mileage*** of the cars in the dataset is approximately ***68,533 kilometers***, with a standard deviation of about 37,506 kilometers.
   - The mileage ranges from 1 kilometer to 243,000 kilometers.
   - 75% of the cars have a mileage of 87,021 kilometers or less.

2. **Price**:
   - The ***average price*** of the cars is around **10,731 dollars**, with a standard deviation of approximately $3,627.
   - Prices range from 4,350 to 32,500 dollars.
   - 75% of the cars are priced at 11,950 dollars or less.

3. **CC (Engine Capacity)**:
   - The ***average engine capacity*** is approximately ***1567 cc***, with a standard deviation of around 187 cc.
   - Engine capacities range from 1300 cc to 2000 cc.

4. **Weight**:
   - The ***average weight*** of the cars is about ***1072 kilograms***, with a standard deviation of roughly 53 kilograms.
   - Weights range from 1000 kilograms to 1615 kilograms.

5. **Age**:
   - The ***average age*** of the cars is approximately ***56 months***, with a standard deviation of about 18.6 months.
   - The age of cars in the dataset ranges from 1 month to 80 months.
   - 75% of the cars are 70 months old or less(less than 6 years).

6. **HP (Horsepower)**:
   - The ***average horsepower*** of the cars is around ***102 HP***, with a standard deviation of approximately 15 HP.
   - Horsepower ranges from 69 HP to 192 HP.

7. **Doors**:
   - On average, the cars have around 4 doors, with a standard deviation of about 1 door.
   - The number of doors ranges from 2 to 5.

8. **MetColor (Metallic Color)**:
   - About ***67.5% of the cars*** in the dataset have a metallic color, while the remaining 32.5% do not.

9. **Automatic**:
   - Only about 5.6% of the cars are automatic transmission, while the ***majority (94.4%) have manual transmission.***

In [35]:
# no of unique elements in each of the column
data.nunique().to_frame().T.style.background_gradient(cmap= "Set3_r")

##### Insights:
- From the above check, it is clear that there are certain features which have ***less than 20 unique values*** such as FuelType, MetColor, Automatic, CC and Doors.
- The above mentioned are the categorical features and the rest are continuous features.

**TARGET VARIABLE**: "Price"

**NUMERICAL**
- **Continuous features**: "Age", "KM", "Weight"
- **discrete features**: "HP", "CC", "Doors"

**CATEGORICAL**
- **binary features**: "MetColor", "Automatic".
- **nominal features**: "FuelType"

In [36]:
# Unique categories of all the categorical features

categorical_features= ["HP", "CC", "Doors","MetColor", "Automatic","FuelType"]

for column in categorical_features:
  values= data[column].value_counts(normalize= True).reset_index()
  values.columns= [column, 'value_counts']

  # Adding color to the df
  styled_df= values.style.background_gradient(cmap= "Set3_r")
  display(styled_df)
  print("\n")

#### Insights:
- Around **58%** of cars constitute horsepower capacity of  **110HP**

- Around 58% of vehicles have the engine capacity of **1600cc.**

- Around 46% of cars have 5 number of doors and 43% contains 3 doors.

- 67% of cars have metallic color.

- 94% of cars do not have automatic transmission.

- Around 87% of them are petrol vehicles, 10% consume diesel and CNG fueltype is the least category.

### **EXPLORATORY DATA ANALYSIS**